html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: purple;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  /* axis demonstration */
  /* section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 800px;
      flex-direction: column;
      flex-direction: column-reverse;
      align-items: stretch
  }

  article:last-child {
    align-self: stretch;
  }

  article {
    padding: 10px;
    flex-basis: 100px;
    width: 200px;
    width: auto;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    background: aqua;
  } */
  /* ====================== */

   /* flex wrap demonstration */
   /* section {
    display: flex;
    flex-wrap: wrap;
    }

    .grow {
      flex-grow: 12;
    }

    article {
    padding: 10px;
    flex-grow: 1;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 10px;
    background: aqua;
    } */
    /* ============================== */

    /* changing sized */
    /* Это просто означает, что каждому flex элементу сначала будет дано 200px от свободного места. Потом оставшееся место будет поделено в соответствии с частями пропорций. */
    /* section {
      display: flex;
    }

    article:nth-of-type(3) {
      flex: 2 200px;
    }

    article {
      padding: 10px;
      flex: 1 100px;
      overflow: hidden;
      margin: 10px;
      background: aqua;
    } */
    /* ========================== */

  /* axis demonstration */
  /* section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }

  article:last-child {
    order: 1;
  }

  article:first-child {
    order: 2;
  }

  article {
    padding: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    background: aqua;
  } */
  /* ==================================== */
